<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/open</string>
		<string>-W</string>
		<string>/Library/PreferencePanes/KeyPopper PrefPane.prefPane/Contents/SharedSupport/KeyPopper Catcher.app</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>sh.linus.keypopper.KeyPopper-Catcher</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
